.games-card__container {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 15px;
}

.games-card__contain {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.games-card__contain h1 {
	font-size: 18px;
	font-weight: 300;
	margin-top: 10px;
}

.games-card__contain img {
	width: 250px;
	height: 250px;
	object-fit: cover;
  object-position: center;

	border-radius: 13px;
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.8);
}

.games-card__contain img:hover {
	scale: calc(1.05);
	transition: ease-in-out;
}
