.banner-description__container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 100px 0;
	padding: 30px;
}

.banner__psplus {
	width: 300px;
	margin-bottom: 35px;
}

.banner__description h1 {
	font-size: 45px;
	color: #FFFFFF;
}

.banner__description h2 {
	font-size: 24px;
}

