<div class="banner__container">
	<app-banner-title
		exploreTitle = " Explore o PlayStation®4 "
		exploreDescription = " Jogos incríveis e diversão sem parar. Nunca houve época melhor para se divertir com o PS4. "
	>
	</app-banner-title>
	<div class="banner__items">
		<app-banner-item
			itemImage= "https://gmedia.playstation.com/is/image/SIEPDC/ps4-pro-product-thumbnail-01-en-14sep21?$facebook$"
			itemName= "PlayStation 4"
			itemDescription= "Os jogos mais incríveis estao no PS4, com 1TB de armazenamento."
		></app-banner-item>

		<app-banner-item
			itemImage = "https://gmedia.playstation.com/is/image/SIEPDC/psvr-product-thumbnail-01-en-14sep21?$facebook$"
			itemName= "PlayStation VR"
			itemDescription= "Mais de 500 jogos e experiências, e subindo. Conheça todos eles."
		></app-banner-item>

		<app-banner-item
			itemImage = "https://gmedia.playstation.com/is/image/SIEPDC/dualshock-controller-product-thumbnail-01-en-14sep21?$facebook$"
			itemName= "Acessórios"
			itemDescription= "Aprimore sua experiência PS4 com vários acessórios oficiais."
		></app-banner-item>
	</div>

</div>
