.banner__items {
	display: flex;
	justify-content: center;
}

@media (min-width: 1025px) and (max-width: 1333px) {
  .banner__items {
    display: grid;
		width: 100%;
  }
}

@media (min-width: 400px) and (max-width: 1024px) {
  .banner__items {
		display: grid;
		width: 100%;
  }
}
