
<div class="menu-bar__container">
		<div class="menu-bar__logo">
			<a href="#">
			<img
				src="assets/playstation-store-logo.png"
				alt="playstation store logo"
				width="160px"
			>
			</a>
		</div>

		<div class="menu-bar__item">
			<ul>
				<li><a href="https://www.instagram.com/victor_barboza_/"> INSTAGRAM </a></li>
				<li><a href="https://www.linkedin.com/in/barboza-victor/"> LINKEDIN </a></li>
				<li><a href="https://github.com/MercurialBR"> GITHUB	 </a></li>
			</ul>
		</div>
</div>
