<div class="games__container">
	<app-games-title> </app-games-title>

	<div class="games__cards">
		<app-games-card
			gameCard="https://gmedia.playstation.com/is/image/SIEPDC/fifa-23-standard-edition-pack-01-ps4-ps5-en-01aug22?$1200px$"
			gameTitle=" FIFA 2023 "
		>
		</app-games-card>

		<app-games-card
			gameCard="https://gmedia.playstation.com/is/image/SIEPDC/the-callisto-protocol-store-artwork-01-en-22jun22?$1200px$"
			gameTitle=" The Callisto Protocol "
		>
		</app-games-card>

		<app-games-card
			gameCard="https://gmedia.playstation.com/is/image/SIEPDC/marvel-midnight-sun-pack-01-ps4-ps5-17mar22$en?$1200px$"
			gameTitle=" Marvel's Midnight Suns"
		>
		</app-games-card>

		<app-games-card
			gameCard="https://gmedia.playstation.com/is/image/SIEPDC/horizon-forbidden-west-store-art-01-01apr21$en?$1200px$"
			gameTitle=" Horizon Forbidden West "
		>
		</app-games-card>

		<app-games-card
			gameCard="https://gmedia.playstation.com/is/image/SIEPDC/elden-ring-store-art-01-ps5-03sep21$en?$1200px$"
			gameTitle=" Elder Ring "
		>
		</app-games-card>

		<app-games-card
			gameCard="https://gmedia.playstation.com/is/image/SIEPDC/god-of-war-ragnarok-listing-thumb-01-09sep21$en?$1200px$"
			gameTitle=" God of War Ragnarok "
		>
		</app-games-card>

		<app-games-card
			gameCard="https://gmedia.playstation.com/is/image/SIEPDC/the-last-of-us-part-i-keyart-01-en-18may22?$1200px$"
			gameTitle=" The Last of Us part 1 "
		>
		</app-games-card>

		<app-games-card
			gameCard="https://gmedia.playstation.com/is/image/SIEPDC/call-of-duty-modern-warfare-2-pack-01-ps4-ps5-en-26may22$en?$1200px$"
			gameTitle=" CoD MW 2 "
		>
		</app-games-card>

		<app-games-card
			gameCard="https://gmedia.playstation.com/is/image/SIEPDC/need-for-speed-unbound-store-artwork-01-en-25oct22?$1200px$"
			gameTitle=" NFS Unbound "
		>
		</app-games-card>

		<app-games-card
			gameCard="https://gmedia.playstation.com/is/image/SIEPDC/overwatch-2-store-artwork-01-en-5sep22?$1200px$"
			gameTitle=" Overwatch 2 "
		>
		</app-games-card>

		<app-games-card
			gameCard="https://gmedia.playstation.com/is/image/SIEPDC/plague-tale-requiem-store-artwork-01-en-5sep22?$1200px$"
			gameTitle=" A Plague Tale: Requiem "
		>
		</app-games-card>

		<app-games-card
			gameCard="https://gmedia.playstation.com/is/image/SIEPDC/gran-turismo-7-packshot-01-en-09sep21?$1200px$"
			gameTitle=" Gran Turismo 7 "
		>
		</app-games-card>
	</div>
</div>
